@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@100..900&family=Syne:wght@400..800&display=swap');

/* font-family: 'Assistant', sans-serif; */
  /* font-family: 'MuseoModerno', cursive; */
  /* font-family: Arial; */
  /* font-family: 'Syne', sans-serif; */

:root {
    --fg-color: hsl(100, 0%, 4%);
    --fg-color-a5: hsla(100, 0%, 4%, 0.5);
    --fg-color-a8: hsla(100, 0%, 4%, 0.8);
    --bg-color: hsl(100, 0%, 98%);
    --acc-color: hsl(10, 80%, 60%);
    --primary-font: 'Assistant', sans-serif;--accent-font: 'MuseoModerno', cursive;
    font-size: clamp(14px, 2.5vw, 20px);
}

* {margin:0;padding:0;box-sizing:border-box;}


body {
  font-family: var(--primary-font);
  background: var(--bg-color);
  color: var(--fg-color);
}

header {
  padding: .5rem 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  width: 100vw;
  justify-content: space-between;
  text-align: center;
  font-size: .75rem;
  position: fixed;
  top: 0;
  background: var(--bg-color);
  /* background: lightpink; */
  z-index: 999;
}

header a {
  text-decoration: none;
  color: black;
}

.header__left {
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.saic-logo {
  width: clamp(150px, 30vmin, 350px);
  /* background: lightgreen; */
}

.at {
  font-weight: 200;
  font-size: 1.5em;
  margin: 0 .325em;
  margin-top: 2vmin;
  animation: rotate 4s infinite alternate ease-in-out;
  display: inline-block;
}

.ars {
  font-weight: 200;
  font-size: 1em;
  font-family: var(--accent-font);
  margin-top: 2vmin;
  width: max-content;
}

@keyframes rotate {
  0% {transform: rotateZ(45deg);}
  30% {transform: rotateZ(45deg);}
  70% {transform: rotateZ(405deg);}
  100% {transform: rotateZ(405deg);}
}

.main-menu {
  display: flex;
  font-size: 1.5em;
  font-weight: 300;
  font-family: var(--accent-font);
  
  /* background: green; */
}

.main-menu a {
  margin-left: 1rem;
}

.main-menu a:hover {
  color: var(--acc-color);
}

.current-page {
  border-bottom: 2px solid black;
}

.statement {
  margin: 0 auto;
  width: 100vw;
  max-width: 70ch;
  padding: 3rem 2rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.statement__title {
  text-align: center;
  font-size: 4rem;
  font-weight: 400;
  font-family: var(--accent-font);
}

.statement__text {
  font-size: 1.5rem;
}

#grid-container {
    /* background: #fcc; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: .5rem;
    padding: .5rem;
}

.grid-item {
  object-fit: cover;
  display: block;
  height: 40vmin;
  min-height: 300px;
  overflow: hidden;
}

.grid-item img:hover {
  transform: scale(1.125);
  transition: transform 1s;
}

.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform .5s;
}

footer {
    text-align: center;
    margin-top: 1rem;
    padding: .5rem;
    font-size: .75rem;
}

.back-to-top {
  position: fixed;
  z-index: 999;
  bottom: .75em;
  right: .75em;
  background: var(--fg-color-a5);
  border-radius: 6px;
  color: white;
  width: 6vmin;
  height: 6vmin;
  min-width: 3rem;
  min-height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color .25s, opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
}

.back-to-top::after,
.back-to-top::before {
  content: "";
  position: absolute;
  width: 40%;
  height: 6%;
  background: var(--bg-color);
}

.back-to-top:hover {
  cursor: pointer;
  background: var(--fg-color-a8);
}

.back-to-top::before {
  transform: translateX(30%) rotateZ(45deg);
}

.back-to-top::after {
  transform: translateX(-30%) rotateZ(-45deg);
}

.show {
  opacity: 1;
  visibility: visible;
}