.text__assistant-curator {
  margin-top: -.2em;
  margin-bottom: 1em;
  font-weight: 400;
}

.text__curator {
  margin: 0;
}

.disposition-link-container {
  text-align: center;
  padding: 1em;
}

.disposition-link {
    font-size: 2rem;
    font-style: italic;
    color: var(--color-fg);
}

.disposition-link:hover {
    color: var(--color-acc);
}

footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

@media only screen
  and (max-width: 500px) {
    
  .disposition-link {
    font-size: 1.25rem;
  }
  
  footer {
    position: static;
    text-align: center;
    margin-top: -2rem;
    padding: .5rem;
    font-size: .75rem;
    transform: unset;
  }
}

/* iPhone */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    
  .disposition-link {
    font-size: 1.25rem;
  }

  footer {
    position: static;
    text-align: center;
    margin-top: -2rem;
    padding: .5rem;
    font-size: .75rem;
    transform: unset;
  }
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    
  .disposition-link {
    font-size: 1.25rem;
  }

  footer {
    position: static;
    text-align: center;
    margin-top: -2rem;
    padding: .5rem;
    font-size: .75rem;
    transform: unset;
  }
}