footer {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.statement__curator {
  margin: 0;
  margin-top: -.25em;
}

.statement__asst_curator {
  margin-top: -.2em;
  margin-bottom: 1em;
  font-weight: 400;
}

.disposition {
    text-align: center;
    font-size: 2rem;
    font-style: italic;
    color: black;
    max-width: max-content;
    padding: 1em;
    margin: 0 auto;
}

.disposition:hover {
    color: var(--acc-color);
}