header {
  padding: .5rem 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  width: 100vw;
  justify-content: space-between;
  text-align: center;
  font-size: .75rem;
  position: fixed;
  top: 0;
  background: var(--bg-color);
  /* background: lightpink; */
  z-index: 999;
}

header a {
  text-decoration: none;
  color: black;
  text-align: right;
  background: green;
}

.header__left {
  display: flex;
  align-items: flex-end;
  font-size: 1rem;
  width: 40%;
}

.header__right {
  text-align: right;
  width: 40%;
  background: pink;
}

.header__saic-logo {
  width: 100%;
}
.header__ars-logo {
  width: 100%;
}

.saic-logo {
  width: clamp(150px, 30vmin, 350px);
}

.at {
  font-weight: 200;
  font-size: 1.5em;
  margin: 0 .325em;
  margin-top: 2vmin;
  animation: rotate 4s infinite alternate ease-in-out;
  display: inline-block;
}


@keyframes rotate {
  0% {transform: rotateZ(45deg);}
  30% {transform: rotateZ(45deg);}
  70% {transform: rotateZ(405deg);}
  100% {transform: rotateZ(405deg);}
}

.main-menu {
  display: flex;
  font-size: 1.5em;
  font-weight: 300;
  font-family: var(--accent-font);
  justify-content: flex-end;
  /* background: green; */
}

.main-menu a {
  margin-left: 1rem;
}

.main-menu a:hover, .contact:hover {
  color: var(--acc-color);
}

.current-page {
  border-bottom: 2px solid black;
}

.contact {
  font-size: 1.5rem;
}

