/* TOPNAV */
.container-topnav {
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 9999;
}

.topnav {
    background: var(--color-fg-a9);
    display: flex;
    justify-content: space-between;
    padding: .5em;
    position: relative;
    width: 100%;
    z-index: 999;
}


/* TOPNAV__LEFT */

.topnav__left-logos-link {
    display: grid;
    grid-template-columns: 200px 50px 200px;
    place-items: center;
    text-decoration: none;
    color: var(--color-bg);
}

.topnav__left-saic-logo, .topnav__left-ars-logo {
    width: 100%;
    object-fit: contain;
}

.topnav__left-spinner {
    font-weight: 300;
    font-size: 2.5rem;
    animation: rotate 4s 1s 2 alternate ease-in-out;
}
  
@keyframes rotate {
    0% {transform: rotateZ(0deg);}
    30% {transform: rotateZ(0deg);}
    70% {transform: rotateZ(405deg);}
    100% {transform: rotateZ(405deg);}
}
  

/* TOPNAV__RIGHT */

.topnav__right {
    display: flex;
    justify-content: flex-end;
}

.topnav__right-hamburger {
    padding: .5rem .325rem;
    margin-right: 1em;
    width: max-content;
    place-self: center end;
}

.topnav__right-hamburger:hover {
    cursor: pointer;
}

.topnav__right-hamburger:hover .topnav__right-hamburger-patty {
    background: var(--color-acc);
}

.topnav__right-hamburger-patty {
    background: var(--color-bg);
    width: 1.625rem;
    height: .125rem;
    position: relative;
}
.topnav__right-hamburger-patty::before,
.topnav__right-hamburger-patty::after {
    content: "";
    background: inherit;
    width: inherit;
    height: inherit;
    position: absolute;
}

.topnav__right-hamburger-patty::before {
    top: .45rem;
}

.topnav__right-hamburger-patty::after {
    bottom: .45rem;
}

/* DROPDOWN MENU */

.topnav__dropdown-menu-container {
    position: absolute;
    z-index: 998;
    width: 100vw;
    top: 100%;
    left: 0;
    box-shadow: 0 6px 30px -18px var(--color-fg-a6);
    display: none;
}

.topnav__dropdown-menu {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    height: 71.5vh;
    max-height: 350px;
}

.topnav__dropdown-menu-item {
    display: grid;
    width: 100%;
    height: 100%;
    place-items: center;
    background: var(--color-fg-a9);
    color: var(--color-bg);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 400;
    transition: background-color .25s, color .25s;
    border-bottom: 1px solid var(--color-bg-a6);
    font-family: var(--font-accent);
}

.topnav__dropdown-menu:first-child {
    border-top: 1px solid var(--color-bg);
}

.topnav__dropdown-menu-item:hover {
    background: var(--color-acc);
    color: var(--color-bg);
    transition: background-color 0s, color 0s;
}

.dropdown__toggle-down {
    animation-name: dropdown;
    animation-duration: .75s;
    animation-fill-mode: forwards;
    animation-direction: normal;
    transform: translateY(100%);
}

.dropdown__toggle-up {
    animation-name: dropdown;
    animation-duration: .75s;
    animation-fill-mode: forwards;
    animation-direction: reverse;
    transform: translateY(-100%);
}

@keyframes dropdown {
    from {transform: translateY(-100%);}
    to {transform: translateY(0);}
}

@media only screen
and (max-width: 500px) {
    .topnav {
        padding: .125em .25em;
    }
    .topnav__left-logos-link {
        grid-template-columns: 4fr 1fr 4fr;
        width: 96%;
    }
    .topnav__right-hamburger {
        margin-right: 0;
    }
}

/* iPhone Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .topnav {
        padding: .125em .25em;
        max-height: 80px;
    }
    .topnav__left-logos-link {
        grid-template-columns: 4fr 1fr 4fr;
        width: 86%;
    }
    .topnav__right-hamburger {
        margin-right: 0;
    }
}

/* iPhone Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .topnav {
        padding: .125em .25em;
        max-height: 80px;
    }
    .topnav__left-logos-link {
        grid-template-columns: 4fr 1fr 4fr;
        width: 50%;
    }
    .topnav__right-hamburger {
        margin-right: 0;
    }
    /* .topnav__dropdown-menu-item {
        padding: .25em 0;
        font-size: 1rem;
    } */
}