body {
    overflow: unset;
}

.section {
    min-height: 100vh;
}

.top {
    display: grid;
    place-items: center;
    margin-bottom: 1.5rem;
}
.mid {
  display: grid;
  place-items: center;
  background: salmon;
  padding: 2rem;
}
.contact {
  text-align: center;
  font-size: 2rem;
  text-decoration: none;
  color: white;
  font-weight: 500;
}
.contact:hover {
  color: black;
}

.bottom {height: 100vh;}

.top-section {
    display: grid;
    grid-template-areas:
        "title"
        "subtitle"
        "saic"
        "statement"
        "logos";
    max-width: 75ch;
    padding: 1.5rem;
    position: relative;
}

.home-title, .home-subtitle {
    text-align: center;
    font-family: var(--accent-font);
}

.home-title {
    font-weight: 500;
    font-size: clamp(1.85rem, 4vmin, 5rem);
    grid-area: title;
}
.home-subtitle {
    font-weight: 300;
    font-size: clamp(1.725rem, 4vmin, 5rem);
    grid-area: subtitle;
}
.home-saic {
    grid-area: saic;
    text-align: center;
    font-weight: 700;
    font-size: clamp(1rem, 2.5vmin, 2rem);
}
.home-statement {
    grid-area: statement;
    margin: 1.5em 0;
    font-size: 1rem;
}
.home-statement p {
  margin-bottom: .75em;
}

.logos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: .75rem;
}
.logo {
  width: 60%;
}
.logo img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.ars-logo {
  place-self: end;
}


.main-menu {
    display: grid;
    grid-gap: 0;
    grid-template-columns: repeat(4, 1fr);
    height: 100%;
}

.main-menu a {
    margin: unset;
    position: relative;
    text-decoration: none;
    font-size: clamp(2rem, 10vmin, 5rem);
    color: white;
    background-size: cover;
    background-position: center;
}

.main-menu h3 {
  font-weight: 300;
}

.menu-item .overlay {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background: var(--fg-color-a5);
}

.menu-item .year {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.coming-soon {
  position: absolute;
  font-size: clamp(1rem, 2.5vmin, 2rem);
  left: 50%;
  top: 50%;
  transform: translate(-50%, 120%);
  width: max-content;
}

.a2018 { background-image: url(images/home/2018.jpg);}
.a2019 { background-image: url(images/home/2019.jpg);}
.a2020 { background-image: url(images/home/2020.jpg); background-position-x: -500px !important;}
.a2021 { background: black;}

.down-arrow {
    animation-name: arrow;
    animation-duration: 2s;
    animation-delay: 3s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    opacity: 0;
    grid-area: down;
    place-self: center;
}

.spine {
    width: 2px;
    height: 36px;
    background: #111;
    margin: 2px 0;
}

.point { position: relative;}
.point::before, .point::after {
    content: "";
    width: 2px;
    height: 16px;
    background: #111;
    position: absolute;
}

.point::before { transform: translate(250%, -100%) rotateZ(40deg); }
.point::after { transform: translate(-250%, -100%) rotateZ(-40deg); }

@keyframes arrow {
    from {opacity: 0;}
    to {opacity: 1;}
}

@media only screen 
  and (max-width: 900px) {
    .main-menu {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .a2018 { background-position-y: -240px !important;}
}

@media only screen
    and (max-width: 500px) {
        .top-section {
            grid-row-gap: 0rem;
        }
        .logos {
          grid-template-columns: 1fr;
          place-items: center;
        }
        .logo {width: 40%;}
        .ars-logo {
          place-self: center;
        }
    }

@media only screen 
  and (min-device-width: 100px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) {

    .home-statement {
      font-size: 1rem;
    }

    .main-menu {
        display: grid;
        grid-template-columns: 1fr;
    }
    .a2018 { background-position-y: -240px !important;}
    .a2019 { background-position-y: -50px !important;}

}