/* footer {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
} */



@media only screen
  and (max-width: 500px) {

  footer {
    position: static;
    text-align: center;
    margin-top: -2rem;
    padding: .5rem;
    font-size: .75rem;
    transform: unset;
  }
}

/* iPhone */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    
  footer {
    position: static;
    text-align: center;
    margin-top: -2rem;
    padding: .5rem;
    font-size: .75rem;
    transform: unset;
  }
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    
  footer {
    position: static;
    text-align: center;
    margin-top: -2rem;
    padding: .5rem;
    font-size: .75rem;
    transform: unset;
  }
}